body,html {
  font-family: sans-serif;
}

ul {
  width: 100%;
}


a {
  outline: none;
  text-decoration: none;
  width: 100%;
  color: black;
}


a:link, a:visited, a:focus {
  background: none;
}

a:hover {     
  background: black;
}
main {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    margin-top: 15em
}

form p {
    display: flex;
    margin-bottom: 1em;
}

form label {
    flex-basis: 33%;
}

form input, textarea, select {
    flex: 1;
    margin: 0 1em;
    border-radius: 6px;
}

form select {
    text-align: center;
}

form input[type=submit] {
    color:#0089ff;
}

.areyouorbit {
    margin-right: 15px;
}
.center {
    display: grid;
    margin-left: auto;
    margin-right: auto;

}

.center1 {
    text-align: center;
    font-family: sans-serif
}

#text {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 40px;
    color: hotpink;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#text3 {
    position: absolute;
    top: 30%;
    left: 75%;
    font-size: 40px;
    color: hotpink;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#text4 {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 40px;
    color: hotpink;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#text5 {
    position: absolute;
    top: 80%;
    left: 70%;
    font-size: 40px;
    color: hotpink;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#text2 {
    position: absolute;
    top: 35%;
    left: 20%;
    font-size: 40px;
    color: hotpink;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
}

#text1 {
    position: absolute;
    top: 2%;
    left: 9%;
    font-size: 90px;
    color: hotpink;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
}


header {
    display: flex;
    align-items: flex-end;
    
}

header nav {
    flex: 1;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav li {
    list-style-type: none;
    padding: 1em 1em 2em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav ul {
    display: flex;
}

footer nav li {
    list-style-type: none;
    padding: 0.5em;
}

@media screen and (max-width: 30rem) {

    header, {
        flex-direction: column;
    } 
    main, {
        flex-direction: column;
    } 
    footer {
        flex-direction: column;
    } 
    .center {
        display: flex
    }

}